@charset "UTF-8";
/* Estilos Generales */
/* Import */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* MOBILE FIRST*/
/*·· Smartphone ··*/
@media (max-width: 480px) {
  #grids {
    display: grid;
    background-color: rgb(226, 192, 226);
    grid-template-areas: "encabezado " "menuDos " "informacion " "fotoUno " "menu_tres " "wireframe " "pie_de_pagina ";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr 1fr 2fr 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #header {
    display: grid;
    grid-template-areas: "logo compras" "menu_principal menu_principal";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
  }
  /* Nombre de los Items*/
  .img {
    grid-area: logo;
  }
  .desplegable {
    grid-area: menu_principal;
  }
  .carrito {
    grid-area: compras;
  }
  /*Fin*/
  /* Estilo general de Mobile*/
  .centrar {
    text-align: center;
    background-color: #f2d9e7;
    border: #f288c6 dotted 2px;
    font-size: 250%;
    color: #e06baf;
    padding: 2vh 5vh;
    margin: 30px;
  }
  header {
    display: block;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .slide {
    display: flex;
    flex-flow: column nowrap;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  nav {
    display: block;
    flex-flow: column nowrap;
    align-items: baseline;
    justify-content: left;
  }
  .desplegable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
/*·· Tablet ··*/
@media (min-width: 481px) and (max-width: 1023px) {
  body {
    background-color: rgb(216, 87, 216);
  }
  .slides {
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    align-items: center;
  }
  #grids {
    display: grid;
    /*background-color: rgb(226, 192, 226);*/
    grid-template-areas: "encabezado " "menuDos " "informacion " "fotoUno " "menu_tres " "wireframe " "pie_de_pagina ";
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr 1fr 2fr 1fr 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  header {
    display: block;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  #header {
    display: grid;
    grid-template-areas: "logo menu_principal compras";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
  }
  /* Nombre de los Items*/
  .img {
    grid-area: logo;
  }
  .desplegable {
    grid-area: menu_principal;
  }
  .carrito {
    grid-area: compras;
  }
  /*Fin*/
  .galeria img {
    width: 50%;
    height: 70vh;
  }
}
/*·· Desktop ··*/
@media (min-width: 1024px) {
  body {
    background-color: rgb(140, 97, 140);
  }
  #header {
    display: grid;
    grid-template-areas: "logo menu_principal compras";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
  }
  /* Nombre de los Items*/
  .img {
    grid-area: logo;
  }
  .desplegable {
    grid-area: menu_principal;
  }
  .carrito {
    grid-area: compras;
  }
  /*Fin*/
  .fotoUno {
    display: flex;
    justify-content: space-around;
  }
  .galeria img {
    width: 40%;
    height: 80vh;
    margin: 5px;
  }
}
/* Variables */
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.carrito {
  margin: 10px;
  padding: 10px;
}

.encabezado {
  text-align: center;
  background-color: rgb(226, 192, 226);
  color: #4a253a;
  font-size: 15px;
}

/* Anidamiento */
.menuHorizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menuHorizontal > li:hover {
  background-color: #f0b6d7;
}
.menuHorizontal > li > a {
  display: block;
  padding: 10px 15px;
  color: rgb(6, 4, 6);
  text-decoration: none;
}

.menuVertical {
  position: absolute;
  color: rgb(143, 37, 37);
  display: none;
  list-style: none;
  width: 150px;
  padding: 5px;
  background-color: rgb(208, 133, 184);
}
.menuVertical li:hover {
  color: #090507;
  background-color: #f0b6d7;
}
.menuVertical li:hover .menuVertical {
  display: block;
}

li {
  font-size: 18px;
}

.menuFlexible {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  /*cursos: pointer;*/
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.centrar {
  text-align: center;
  background-color: #f2d9e7;
  border: #f288c6 dotted 2px;
  font-size: 250%;
  color: #e06baf;
  padding: 2vh;
  margin: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*Tienda */
.menu_tienda {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.galeria img {
  width: 100%;
  height: 80vh;
}

/*# sourceMappingURL=destino.css.map */
